#content{
	text-align: center;
	padding: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				0px 8px 13px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.4);
}
body{
background:url(https://images.unsplash.com/photo-1446770145316-10a05382c470?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f83e4b1e921bb496711ab1299032d555&auto=format&fit=crop&w=1955&q=80);
	background-size: all;
	background-position: center;
	font-family: 'Mukta Mahee', sans-serif;
	color: #D6F3F3;


}
h1{
	font-weight: 700;
	font-size: 5em;
}
html{
	height: 100%;
}
hr{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #30CBF2;
    border-color: rgb(17,19,19);
}
